@charset 'UTF-8';

body {
	font-family: sans-serif;
	font-size: 10px;
	color: black;
	text-align: justify;
	line-height: 1.4em;
	margin: 0px;
	padding: 0px;
}

div {
	border-style: solid;
	border-color: grey;
	border-width: 1px;
	padding: 1em;
	margin: 1em auto;
	width: 90%;	 
}


p {
	background-color: aquamarine;
	outline: blue solid 1px;
	margin: 2em;
}

#pinline p {
	display:inline;
}

#pinline-block p {
	display:inline-block;
	margin: 0.5em;
}

#miTabla div { 
	border-style: none;
	display: table;
	caption-side: bottom;
	border-color: black;
}
#miTabla .leyenda {
	display: table-caption;
	text-align: center;
}
#miTabla .miThead {display: table-header-group;}
#miTabla .miTr {display: table-row;}
#miTabla .miTbody {display: table-row-group;}
#miTabla .miTh {
	display: table-cell;
	font-weight: bold;
	text-align: center;
	border-style: solid;
	border-color: red;
	border-width: 1px;
}
#miTabla .miTd {
	display: table-cell;
	border-style: solid;
	border-color: red;
	border-width: 1px;
	/*border-bottom-width: 0px;*/
	
}

#miTabla .dreta {
	display: table-cell;
	border-style: solid;
	border-color: red;
	border-width: 1px;
	border-left-width: 0px;
}

#miLista div {
	border-style: none;
}

#miLista div {
	display: list-item;
	list-style-type: circle;
	list-style-position: inside;
	padding: 0;
	margin: 0;
	margin-left: 2em;
}









